main {
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main h2 {
    word-wrap: break-word;
}

body {
    font-size: 1.2rem;
    background-color: #ffffbf;
}

#subjects {
    padding: 0;
    margin: auto;
    width: 80vw;
    display: flex;
    list-style: none;
    flex-direction: column;
    height: inherit;
    align-items: center;
    justify-content: space-around;
}

#subjects li {
    height: 100%;
    width: 100%;
    color: #612E37;
    font-size: 32px;
    box-shadow: 5px 5px black;
    border-radius: 5px;
    background-color: #FED172;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.incorrect {
    color: red;
    font-size: 1.1em;
}

.cardContainer {
    border: 1px solid black;
    border-radius: 5px 5px;
    margin: 1.2em;
    padding: 0.5em;
}

.cardContainer p {
    margin: 0;
}

.answersContainer {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0;
}

button {
    font-size: 1.2em;
}

p {
    line-height: 2em;
}